:root {
    --primary-color: #4A90E2; 
    --primary-color-hover: #357ABD;
    --background-color: #F4F7F9;
    --white: #FFFFFF;
    --black: #333333;
    --border-color: #D1D9E6;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    text-align: center;
    color: var(--black);
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
}

.title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.entry-form input, .entry-form textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: #ffffff;
}

.entry-form button {
    background: var(--primary-color);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.entry-form button:hover {
    background: var(--primary-color-hover);
}

.view-entries a, .back-button a {
    text-decoration: none;
    background: var(--white);
    color: var(--black);
    padding: 10px 15px;
    border: 1.8px solid var(--black);
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.back-to-entries a {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--white);
    padding: 10px 15px;
    border: 1.8px solid var(--primary-color);
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.back-to-entries a:hover {
    background: var(--primary-color-hover);
    border: 1.8px solid var(--primary-color-hover);
}
.view-entries a:hover, .back-button a:hover {
    color: var(--white);
    background: var(--primary-color-hover);
    border: 1.8px solid var(--primary-color-hover);
}

.entry {
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 8px;
    background-color: var(--white);
    transition: background 0.3s ease;
}

.entry-link {
    text-decoration: none;
    color: var(--black);
}

.entry:hover {
    background-color: #E9EFF5;
}

.delete_button {
    font-size: 1em;
    background: var(--white);
    color: var(--black);
    padding: 10px 15px;
    border: 1.8px solid var(--black);
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.delete_button:hover {
    color: var(--white);
    background: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    cursor: pointer;
}
